.footer {
  background: rgb(2, 12, 27);
  background: -webkit-linear-gradient(
    to left,
    rgb(56, 53, 56),
    #1d1d1d,
    #000000
  );
  background: linear-gradient(to left, rgb(56, 53, 56), #1d1d1d, #000000);

  width: 100%;
  .contentWrapper {
    padding: 30px 0;
    color: #fff;
    width: 50%;
    margin: 0 auto;
    .menuItems {
      padding-bottom: 20px;
      .menuItem {
        font-size: 16px;
        margin: 0 15px;
        text-align: center;
        padding-top: 10px;
        cursor: pointer;
        &:hover {
          color: rgb(226, 69, 137);
          font-weight: 500;
        }
      }
    }
    .infoText {
      text-align: center;
      margin-bottom: 30px;
    }
  }
}

.footer .socialIcons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}
.footer .socialIcons .icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #2a2a2a;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all ease 0.3s;
  text-decoration: none;
  color: #fff;
}
.footer .socialIcons .icon:hover {
  box-shadow: 0 0 0.625em rgb(226, 69, 137);
  color: rgb(226, 69, 137);
}
