#staff-class-management-area {
  table {
    thead {
      tr {
        th {
          background-color: #b43650 !important;
        }
        .selection-button {
          background-color: #b43650 !important;
        }
      }
    }
  }
  .staff-create-class-button {
    background-color: #d34d68 !important;
  }
  .staff-view-more-class-button {
    color: #d34d68;
    background-color: #f8a8b83b;
  }
}
