@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700&display=swap");
.bg-header-scrolled {
  background-color: #000 !important;
  position: fixed !important;
  width: 100% !important;
}

.bg-header-scrolled .header-container {
  width: 80%;
}

@media only screen and (max-width: 900px) {
  .bg-header-scrolled .header-container {
    width: 100% !important;
  }
}

.bg-header-scrolled .nav-item {
  color: white !important;
}

.bg-header-scrolled .nav-item-after-login {
  color: #d291bc !important;
  font-weight: bold !important;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.hello-user {
  font-size: 20px;
  font-weight: 500;
  color: #d291bc !important;
}

.header {
  position: fixed !important;
  z-index: 100 !important;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto !important;
  padding: 0;
  width: 100%;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.header .header-container {
  height: auto !important;
}

@media only screen and (min-width: 1050px) {
  .header {
    width: 80%;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    background-color: #000 !important;
    width: 100%;
    color: white;
  }
}

@media only screen and (max-width: 768px) {
  .header .header-small {
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: start !important;
    padding: 0;
    padding-bottom: 10px;
  }
}

.header .header-brand {
  color: #d291bc;
  font-weight: 500;
  font-size: 30px;
}

.header .header-brand:hover {
  color: #d291bc;
  font-weight: 500;
}

.header .header-container {
  font-family: "Work Sans", sans-serif;
}

.header .header-toggle {
  color: #000;
  background-color: #d291bc;
}

@media only screen and (max-width: 940px) {
  .header .navbar-item {
    background-color: #000 !important;
    width: 100%;
  }
}

.header .nav-item {
  font-size: 18px;
  color: #000;
}

@media only screen and (max-width: 940px) {
  .header .nav-item {
    color: white !important;
    margin: 0 !important;
    padding: 0 10px !important;
  }
  .header .nav-item:hover {
    -webkit-transform: scale(1.05) !important;
            transform: scale(1.05) !important;
  }
}

.header .nav-item:hover {
  color: #d291bc !important;
  font-weight: 500;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.nav-item-after-login {
  color: #d291bc !important;
  font-weight: bold !important;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.nav-item-after-login-not-underline {
  color: #d291bc !important;
  font-weight: bold !important;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

@media screen and (max-width: 1010px) {
  #bg-header {
    background-color: #000 !important;
    color: #fff !important;
  }
  #bg-header .header-container {
    padding: 0 !important;
    margin: 0 !important;
    color: #fff !important;
  }
  #bg-header .header-container #basic-navbar-nav {
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: start !important;
  }
  #bg-header .nav-item {
    color: #d291bc !important;
  }
}

@media screen and (max-width: 600px) {
  #bg-header .header-container {
    margin: 2px 20px !important;
  }
}
/*# sourceMappingURL=HeaderHome.css.map */