.HomeContent {
  background-color: rgba(241, 179, 229, 0.319);
}

.HomeContent .container .grid {
  padding: 80px 0;
}

.HomeContent .container .grid .left ul li span {
  color: #404145;
  font-weight: 700;
  font-size: 20px;
}

.HomeContent .container .grid .left ul li span i {
  margin-right: 15px;
  font-size: 25px;
}

.HomeContent .container .grid .left ul li p {
  color: #62646a;
  line-height: 26px;
  font-size: 18px;
}

.HomeContent .container .grid .right {
  position: relative;
}

.HomeContent .container .grid .right i {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  background: #00000094;
  height: 80px;
  width: 80px;
  line-height: 80px;
  border-radius: 50%;
  font-size: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  cursor: pointer;
}

.HomeContent .bottom .container .grid .left {
  position: relative;
}

.HomeContent .bottom .container .grid .left i {
  position: absolute;
  top: 35%;
  left: 43%;
  color: white;
  background: #00000094;
  height: 80px;
  width: 80px;
  line-height: 80px;
  border-radius: 50%;
  font-size: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  cursor: pointer;
}

.HomeContent .bottom .container .grid .right span {
  padding-bottom: 16px;
}

.HomeContent .bottom .container .swiper-button-prev,
.HomeContent .bottom .container .swiper-button-next {
  background-color: #ffffff;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 5px 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
}

.HomeContent .bottom .container .swiper-button-prev {
  left: 0;
}

.HomeContent .bottom .container .swiper-button-prev:after {
  font-size: 22px;
  font-weight: bold;
  color: #000;
}

.HomeContent .bottom .container .swiper-button-next:after {
  font-size: 22px;
  font-weight: bold;
  color: #000;
}

.HomeContent .marketplace .container .grid li {
  padding-bottom: 55px;
}

.HomeContent .marketplace .container .grid li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #404145;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  -webkit-transition: 1px solid gray 0.2s;
  transition: 1px solid gray 0.2s;
}

.HomeContent .marketplace .container .grid li a img {
  width: 48px;
  height: 48px;
}

.HomeContent .marketplace .container .grid li a span {
  margin-top: 16px;
}

.HomeContent .marketplace .container .grid li a:hover:after {
  padding: 0 20px 8px;
  border-color: #1dbf73;
}

.HomeContent .marketplace .container .grid li a:after {
  content: "";
  position: absolute;
  top: 45px;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  padding: 0 0 8px;
  width: 48px;
  border-bottom: 2px solid #c5c6c9;
  -webkit-transition: border-color 0.2s ease-in-out, padding 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out, padding 0.2s ease-in-out;
}

.ant-modal-content {
  background-color: transparent !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.ant-modal-content .ant-modal-footer {
  display: none !important;
}

.slider-package .slick-slider .slick-arrow {
  background-color: #ffffff;
  position: absolute;
  z-index: 4;
  top: 50%;
  width: 48px;
  height: 48px;
  margin-top: -24px;
  text-align: center;
  border: 0;
  font-size: 16px;
  line-height: 100%;
}

@media (max-width: 768px) {
  .HomeContent .container .grid .left {
    grid-column: span 12 / span 6;
    margin: auto;
  }
  .HomeContent .container .grid .right {
    grid-column: span 12 / span 6 !important;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
  }
  .HomeContent .container .swiper-button-prev,
  .HomeContent .container .swiper-button-next {
    display: none;
  }
  .bottom .container .right p {
    font-size: 25px;
  }
  .ant-modal-root button {
    color: aliceblue;
    top: -20px;
  }
  .ant-modal-root .ant-modal-content video {
    max-width: 100%;
    background-color: #000;
  }
  .marketplace .container ul {
    padding: 20px 0 !important;
    -ms-grid-columns: (minmax(0, 1fr))[4];
        grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (max-width: 576px) {
  .bottom .container .right p {
    font-size: 20px;
  }
  .ant-modal-root button {
    color: aliceblue;
    top: 10px;
  }
  .ant-modal-root .ant-modal-content video {
    max-width: 80%;
    background-color: #000;
  }
  .marketplace .container h2 {
    font-size: 30px;
  }
  .marketplace .container ul {
    padding: 20px 0 !important;
    -ms-grid-columns: (minmax(0, 1fr))[3];
        grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (max-width: 480px) {
  .bottom .container .right p {
    font-size: 20px;
    line-height: 25px;
  }
  .ant-modal-root button {
    color: aliceblue;
    top: 45px;
  }
  .ant-modal-root .ant-modal-content video {
    max-width: 65%;
    background-color: #000000;
  }
  .marketplace .container ul {
    padding: 20px 0 !important;
    -ms-grid-columns: (minmax(0, 1fr))[2];
        grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 420px) {
  .bottom .container .right p {
    font-size: 20px;
    line-height: 25px;
  }
  .ant-modal-root button {
    color: aliceblue;
    top: 45px;
  }
  .ant-modal-root .ant-modal-content video {
    max-width: 55%;
    background-color: #000000;
  }
  .marketplace .container h2 {
    font-size: 25px;
  }
  .marketplace .container ul {
    padding: 20px 0 !important;
  }
}

@media (max-width: 400px) {
  .bottom .container .right p {
    font-size: 20px;
    line-height: 25px;
  }
  .ant-modal-root button {
    color: aliceblue;
    top: 45px;
  }
  .ant-modal-root .ant-modal-content video {
    max-width: 50%;
    background-color: #000000;
  }
}

@media (max-width: 320px) {
  .bottom .container .right p {
    font-size: 20px;
    line-height: 25px;
  }
  .ant-modal-root button {
    color: aliceblue;
    top: 90px;
  }
  .ant-modal-root .ant-modal-content video {
    max-width: 40%;
    background-color: #000000;
  }
}

.slider-img-content {
  text-align: center;
  height: 400px;
  width: 600px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 12px 15px -5px #000 !important;
          box-shadow: 0px 12px 15px -5px #000 !important;
}

.HomeContent .container {
  height: auto;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.swiper-button-prev {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.swiper-button-prev,
.swiper-button-next {
  background-color: #da8da7 !important;
  -webkit-box-shadow: 0px 0px 4px 0px #835f65 !important;
          box-shadow: 0px 0px 4px 0px #835f65 !important;
}

.slider-info-text span {
  font-size: 20px;
  font-weight: 500;
  color: #000;
}

.slider-info-text span span {
  color: #8d8d8d !important;
}

.slider-info-text p {
  color: palevioletred;
  font-size: 28px;
  font-weight: 300;
  word-spacing: 2px;
  line-height: 35px;
  font-style: italic;
}

.swiper-pagination-bullet-active {
  background-color: #d44b79 !important;
}

.slider-content-title {
  color: #d75e86;
  font-size: 60px;
  font-weight: bold;
  font-style: italic;
}

.first-content-title {
  font-weight: bolder;
  font-style: italic;
  font-size: 40px;
  color: #000;
}

.first-content-list li span,
.first-content-list li i {
  color: #a84d6b !important;
}
/*# sourceMappingURL=HomeContent.css.map */