// * {
//   padding: 0;
//   margin: 0;
//   box-sizing: border-box;
// }
:root {
  --primaryColor: hsl(94, 55%, 56%);
  --hoverColor: hsl(93, 75%, 76%);
  --paleGreen: hsl(96, 75%, 89%);
  --whileColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --greyText: hsl(0, 0%, 75%);
  --bgColor: hsl(113, 11%, 85%);
  --inputColor: hsl(330, 12%, 97%);

  /* // Font ang Typography */

  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
}
.flex {
  display: flex;
  align-items: center;
}

html {
  font-size: 90%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img,
video {
  height: auto;
  width: 100%;
}
#google_button:hover {
  background-color: #d291bf !important;
  color: #000 !important;
  box-shadow: none !important;
  transition: all ease 0.3s;
  div {
    box-shadow: 1px 1px 2px 1px #d291bf;
  }
}
#google_button {
  background-color: #000 !important;
  box-shadow: none !important;
  font-weight: bolder;
  transition: all ease 0.3s;
  div {
    transform: scaleX(1.05) scaleY(1) !important;
    border-top-left-radius: 50px !important;
    border-bottom-left-radius: 50px !important;
    box-shadow: 1px 1px 2px 1px #000;
  }
  border-top-left-radius: 50px !important;
  border-bottom-left-radius: 50px !important;
  border-top-right-radius: 50px !important;
  border-bottom-right-radius: 50px !important;
}
.container .heading h2 {
  font-size: 2.1rem;
  font-weight: 600;
  color: #151111;
}

.box {
  position: relative;
  width: 100%;
  max-width: 1020px;
  height: auto;
  background-color: #fff;
  border-radius: 3.3rem;
  box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.27);
  margin: 0 auto;
  margin-top: 65px;
}

.inner-box {
  position: absolute;
  width: calc(100% - 4.1rem);
  height: auto !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.input-wrap {
  position: relative;
  height: 37px;
  margin-bottom: 2rem;
}
.inputfield {
  position: absolute;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid #bbb;
  padding: 0;
  font-size: 0.95rem;
  color: #151111;
  transition: 0.4s;
}

label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.95rem;
  color: #bbb;
  // pointer-events: none;
  transition: 0.4s;
}

.inputfield:active {
  border-bottom-color: #151111;
}

.input-wrap .inputfield:active + label {
  font-size: 0.75rem;
  top: -2px;
}
.btn.flex {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  padding: 0.8rem 1rem;
  color: var(--greyText);
  background: var(--whileColor);
}

.btn .icon {
  margin-left: 0.5rem;
}

.btn.flex:hover {
  color: var(--primaryColor);
  background: var(--paleGreen);
}

.container {
  height: 75vh;
  margin: auto;
  justify-content: space-between;
  border-radius: 10px;
  padding: 0;

  .videoDiv {
    position: relative;
    display: flex;
    flex-basis: 50%;
    width: 70%;
    height: 100%;
    padding: 0 1.5rem;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin: auto 0;
    border-radius: 10px;
    overflow: hidden;

    video,
    .footerDiv {
      position: absolute;
    }
    video {
      height: 100%;
      width: 100%;
      object-fit: cover;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }

    .textDiv {
      position: relative;

      .title {
        color: var(--whileColor);
        font-size: 35px;
        font-weight: 800;
      }

      p {
        color: var(--whileColor);
        padding: 1rem;
        font-weight: 400;
      }
    }

    .footerDiv {
      bottom: 10px;
      padding: 0 1rem;
      height: 60px;
      background: rgba(255, 255, 255, 0.248);
      left: 10px;
      right: 10px;
      justify-content: space-between;
      backdrop-filter: blur(1px);
      border-radius: 10px;

      .text {
        color: var(--whileColor);
      }

      .btn.flex {
        background: var(--whileColor);
        color: var(--primaryColor);
        padding: 0.8rem 1.5rem;
        border-radius: 10px;
        font-weight: 400;
        transition: 0.3s ease;

        &:hover {
          background-color: #d291bf;
          color: var(--blackColor);
        }
      }
    }
  }
}

@media screen and (max-width: 602px) {
  .loginPage {
    .container {
      height: 100%;
      width: 100%;
      flex-direction: column;
      padding: 1.5rem;

      .videoDiv {
        width: 100%;
        @media screen and (max-width: 768px) {
          display: none !important;
        }
        .textDiv {
          .title {
            font-size: 20px;
          }

          p {
            padding: 1rem;
          }
        }

        .footerDiv {
          .text {
            font-size: 12px;
          }

          .btn {
            padding: 0.4rem 1.5rem;
          }
        }
      }

      .formDiv {
        .headerDiv {
          padding: 1.5rem 0;

          img {
            width: 40px;
          }

          h3 {
            font-size: 20px;
          }
        }

        .form {
          gap: 0.5rem;

          .inputDiv {
            input {
              width: 100%;
              max-width: 200px;
            }
          }
        }
      }
    }
  }
}

.header-top {
  .nav-item {
    color: white !important;
    &:hover {
      color: rgba(210, 145, 188, 1) !important;
    }
  }
  .nav-item-after-login {
    color: rgba(210, 145, 188, 1) !important;
    font-weight: bold !important;
    transform: scale(1.3);
  }
}

.text-forget-password {
  &:hover {
    transform: scale(1.03);
    font-weight: 500;
  }
}

.form-login-container {
  @media screen and (max-width: 1000px) {
    width: 100% !important;
  }
}
