@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.main--content {
  padding: 0 !important;
}

.main--content .staff-list-area {
  margin: 0;
  background: #fff !important;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.main--content .staff-list-area .trainer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 !important;
}

.main--content .staff-list-area .trainer table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.main--content .staff-list-area .trainer thead th {
  background-color: #333333 !important;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  color: #fff !important;
  text-align: center;
  font-size: 14px;
}

.main--content .staff-list-area .trainer th,
.main--content .staff-list-area .trainer td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #333 !important;
}

.main--content .staff-list-area .trainer tbody {
  overflow: auto;
  height: 300px;
  text-align: center;
}

.main--content .staff-list-area .setting {
  font-size: 18px;
}

.main--content .staff-list-area .setting .ri-delete-bin-line {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: red;
}

.staff-template-scss table tr {
  z-index: 0 !important;
}

.staff-template-scss table thead tr th,
.staff-template-scss table thead tr th button {
  position: -webkit-sticky !important;
  position: sticky !important;
  z-index: 1 !important;
}

.staff-template-scss table th:first-child {
  border-top-left-radius: 10px;
}

.staff-template-scss table th:last-child {
  border-top-right-radius: 10px;
}

.staff-template-none-scss table {
  overflow-y: hidden !important;
}

.staff-template-none-scss th,
.staff-template-none-scss th button {
  position: static !important;
}

.staff-list-area {
  min-height: calc(100vh - 50px) !important;
  height: auto !important;
}

@media screen and (max-width: 1050px) {
  .staff-list-area {
    overflow-x: scroll !important;
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #c5c4c4;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: #3f3f3f;
  border-radius: 8px;
}

.table-none-border-radius-head thead tr th {
  border-radius: 0px !important;
}

.table-none-border-radius-head ::-webkit-scrollbar-track {
  border-radius: 0px !important;
}

.table-none-border-radius-head ::-webkit-scrollbar-thumb {
  border-radius: 0px !important;
}

@media screen and (max-height: 500px) {
  .menu-scroll {
    overflow-y: scroll !important;
  }
}
/*# sourceMappingURL=ListTrainer.css.map */