@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700&display=swap");
.bg-header-scrolled {
  background-color: #000 !important;
  width: 100% !important;
  .nav-item {
    color: white;
  }
}

.header {
  position: fixed !important;
  z-index: 100 !important;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto !important;
  width: 75%;

  @media only screen and (max-width: 768px) {
    background-color: #000 !important;
    width: 100%;
    color: white;
  }

  .header-brand {
    color: rgba(210, 145, 188, 1);
    font-weight: 500;
    font-size: 30px;
  }
  .header-container {
    font-family: "Work Sans", sans-serif;
  }
  .header-toggle {
    color: #000;
    background-color: rgba(210, 145, 188, 1);
  }
  .nav-item {
    @media only screen and (max-width: 768px) {
      color: white;
      margin: 0 !important;
      padding: 0 10px !important;
    }
    &:hover {
      color: rgba(210, 145, 188, 1);
      font-weight: 500;
    }
  }
}
