.page-container {
  //   margin-top: 100px;
  align-items: center !important;
  justify-content: center !important;
  //   background-color: #333333;
  overflow: hidden;
  background-color: transparent; // Xóa background color hiện tại

  .video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    video {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.05);
      backdrop-filter: blur(5px);
    }
  }
  .container {
    margin: 60px auto !important;
  }
  body {
    background-color: #f9f9fa;
  }

  .padding {
    padding: 2.3rem !important;
  }

  .user-card-full {
    overflow: hidden;
  }

  .card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.09);
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.8);
    border: none;
    margin-bottom: 30px;
  }

  .m-r-0 {
    margin-right: 0px;
  }

  .m-l-0 {
    margin-left: 0px;
  }

  .user-card-full .user-profile {
    border-radius: 5px 0 0 5px;
  }

  .bg-c-lite-green {
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#f29263),
      to(#ee5a6f)
    );
    // background: linear-gradient(to right, #ee5a6f, #f29263);
    background: linear-gradient(to right, #ffe5d8, #ffcad4);
  }

  .user-profile {
    padding: 20px 0;
  }

  .card-block {
    margin: 25px !important;
    align-items: center !important;
    padding: 1.25rem;
    height: auto;
  }

  .m-b-25 {
    margin-bottom: 25px;
  }

  .img-radius {
    border-radius: 5px;
  }
  .img-user-profile {
    box-shadow: 7px 7px 7px -3px #000 !important;
  }
  .update-profile-area {
    min-width: 600px !important;
  }
  h6 {
    font-size: 14px;
  }

  .card .card-block p {
    line-height: 25px;
  }

  .home,
  .updateInfo {
    text-decoration: none;
    color: #333;
  }

  i {
    font-weight: 800;
    font-size: 20px;
    transition: transform 0.3s ease-in-out !important;

    &:hover {
      cursor: pointer;
    }
  }

  @media only screen and (min-width: 1400px) {
    p {
      font-size: 14px;
    }
  }

  .card-block {
    padding: 1.25rem;
  }

  .b-b-default {
    border-bottom: 1px solid #e0e0e0;
  }

  .m-b-20 {
    margin-bottom: 20px;
  }

  .p-b-5 {
    padding-bottom: 5px !important;
  }

  .card .card-block p {
    line-height: 25px;
  }

  .m-b-10 {
    margin-bottom: 10px;
  }

  .text-muted {
    color: #919aa3 !important;
  }

  .b-b-default {
    border-bottom: 1px solid #e0e0e0;
  }

  .f-w-600 {
    font-weight: 600;
  }

  .m-b-20 {
    margin-bottom: 20px;
  }

  .m-t-40 {
    margin-top: 20px;
  }

  .p-b-5 {
    padding-bottom: 5px !important;
  }

  .m-b-10 {
    margin-bottom: 10px;
  }

  .m-t-40 {
    margin-top: 20px;
  }

  .user-card-full .social-link li {
    display: inline-block;
  }

  .user-card-full .social-link li a {
    font-size: 20px;
    margin: 0 10px 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}
.cancel-update-profile-button {
  &:hover {
    transform: scale(1.02);
    background-color: #000000d0 !important;
  }
}

@media only screen and (max-width: 600px) {
  .scroll-user-profile {
    overflow-y: scroll;
  }
}
.swal2-input {
  width: 80% !important;
  margin: 0 auto !important;
}
.update-profile-area {
  height: 100%;
  @media only screen and (min-width: 1050px) {
    // height: 100vh;
  }
}
.update-profile-password-area {
  @media only screen and (min-width: 1000px) {
    height: 100vh;
    .update-profile-container {
      form {
        padding: 0 50px !important;
      }
    }
  }
}
.update-button-area:hover {
  background-color: #de94c7 !important;
  span,
  i {
    color: #3a3a3a !important;
  }
  transition: all 0.3 ease-in-out;
}
.update-button-area {
  background-color: #000 !important;
  transition: all 0.3 ease-in-out;
}
