#staff-feedback-management-area {
  background-color: #fff;
  .symbol-sorting {
    color: #ffffff70 !important;
  }
  .selection-button {
    background-color: #333333 !important;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
  }
  .main--content {
    // thead {
    //   .selection-button {
    //     background-color: rgb(59, 66, 162) !important;
    //     border: none;
    //     color: #fff;
    //     cursor: pointer;
    //   }\
    //   tr {
    //     th {
    //       background-color: rgb(59, 66, 162) !important;
    //     }
    //   }
    // }
    .admin-course-list {
      background-color: #00000050;
      color: #000;
      transform: none;
      z-index: 1;
    }
    .admin-course-list-active {
      background-color: #333333;
      color: #fff;
      // transform: scale(1.1);
      z-index: 10 !important;
    }
    table {
      position: relative;

      .table-head {
        tr,
        th {
          position: sticky;
          top: 0;
        }
      }
      tbody {
        .row-bg-1 {
          background-color: #33333315;
          &:hover {
            background-color: #33333320;
          }
        }
        .row-bg-0 {
          &:hover {
            background-color: #33333320;
          }
        }
        button {
          &:hover {
            transform: scale(1.1);
            font-weight: 600;
          }
        }
      }
      tbody td:hover:before {
        display: none !important;
        z-index: -100;
      }
    }
  }
}
.new-row-feedback-handle {
  background-color: #333333 !important;
  color: #fff !important;
  &:hover {
    background-color: #3b42a2 !important;
    color: #fff !important;
    z-index: 10;
  }
}
// .row-bg-pending-warning-0 {
//   background-color: #767bc163;
// }
// .row-bg-pending-warning-1 {
//   background-color: #5056ca63;
// }
