.profile-container {
  // margin: 0 100px;
  .profile-header {
    min-height: 175px;
    margin: 15px 15px 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #fbfbfb;
    border-radius: 15px;

    .header-avatar {
      width: 250px;
      height: 145px;
      border-radius: 15px;
      background-clip: padding-box;
      border: 5px solid #f5f5f5;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      // margin: 25px auto;
    }

    .profile-info {
      // min-height: 155px;
      border-right: 1px solid #eee;
      padding: 35px 40px;
      // margin-left: 10px;

      .header-fullname {
        font: 21px "Lucida Sans", "trebuchet MS", Arial, Helvetica;
        margin-top: 27px;
        display: inline-block;
      }

      .header-information {
        line-height: 23px;
        margin-top: 15px;
        text-align: justify;
      }

      .btn-follow {
        position: absolute;
        top: 45px;
        right: 40px;
      }
    }

    .profile-stats {
      // min-height: 155px;
      border-right: 1px solid #eee;

      .stats-col {
        margin: 30px 0;
        text-align: center;

        &:not(:last-child) {
          border-right: 1px solid #aaaaaa;
        }
      }

      .stats-value {
        display: block;
        margin: 0 auto;
        text-align: center;
        font-size: 30px;
        font-family: "Lucida Sans", "trebuchet MS", Arial, Helvetica;
      }
    }
  }

  .pink {
    color: #e75b8d !important;
  }

  .btn-palegreen,
  .btn-palegreen:focus {
    background-color: #a0d468 !important;
    border-color: #a0d468;
    color: #fff;
    margin-right: 120px;
  }
}
