@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.main--content {
  padding: 0 !important;

  .trainee-area {
    .trainee {
      margin: auto !important;
    }
    margin: 0;
    padding: 0;
    // background: #f2ced8;
    height: fit-content;
    // background: #fff !important;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;

    .schedule-trainee {
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 !important;

      .title {
        color: rgb(229, 64, 174);
        font-weight: bold;
        text-decoration: none;
      }

      table {
        width: 100%;
        border-collapse: collapse;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
      }

      .table-bordered {
        background-color: #fff;

        .bg-light-gray {
          background-color: #333;
          color: #fff !important;
        }

        .align-middle td {
          background-color: #ffffff33 !important;
        }

        td {
          border: 1px solid #dee2e6;
        }

        th {
          padding: 0.75rem;

          border-bottom: 2px solid #dee2e6;
        }

        .content {
          margin: 25px auto !important;
        }

        img {
          border-radius: 10px;
          margin-bottom: 15px;
        }

        p {
          margin: 5px 0;
        }
      }
    }
  }
}
