.payment-item {
  cursor: pointer !important;
  &:hover {
    background-color: #33333330 !important;
  }
}
@media only screen and (min-width: 1000px) {
  .history-responsive {
    padding-left: 80px !important;
    padding-right: 80px !important;
  }
}

@media only screen and (max-width: 1024px) {
  .responsive-font {
    font-size: 13px !important;
  }
}
