.course-detail-area {
  overflow-x: hidden;
  overflow-y: hidden;
  // border-top-right-radius: 12px;
  // border-bottom-right-radius: 12px;
  // height: 90vh;
  height: auto !important;
}
.course-detail-info {
  font-family: "Work Sans", sans-serif !important;
  .course-detail-come-back {
    &:hover {
      i,
      span {
        color: rgb(208, 144, 187);
      }
    }
  }
  .course-detail-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 22px;
  }
  .course-detail-name {
    color: rgb(208, 144, 187);
    font-size: 40px;
  }
  .course-detail-img {
    position: relative;
    padding-right: 0;
    img {
      border-radius: 10px;
      box-shadow: 0 15px 10px -5px rgba(0, 0, 0, 0.27);
    }
    .course-tag-discount {
      position: absolute;
      border-radius: 10px !important;
      background-color: #fbdc5de6;
      top: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border-radius: 3px 0px 5px 8px;
      p {
        font-size: 16px;
        padding: 0;
        margin: 0;
        font-weight: 500;
        &:first-child {
          color: #ee593b;
          font-weight: 500;
          font-size: 22px;
        }
      }
    }
  }

  .course-detail-des {
    display: flex;
    flex-direction: column;
    text-align: justify;
    // justify-content: center !important;
    p {
      font-size: 16px;
      font-weight: none;
      margin: 0;
    }
    .sub-title {
      color: #000;
      font-size: 22px;
      font-weight: 500;
    }
    .course-detail-des-level {
      color: #7d7d7d;
    }
    .course-detail-des-description {
      color: #7d7d7d;
    }
    .course-detail-des-price {
      color: #ee593b;
      font-size: 22px;
      font-weight: bold;
      .course-price-before-discount {
        font-size: 22px;
        color: #7d7d7d;
        text-decoration: line-through;
      }
      .course-price-after-discount {
        font-size: 22px;
      }
    }
    button {
      font-weight: 500;
      color: #fff;
      background-color: #000;
      font-size: 18px;
    }
  }
  .course-detail-classes {
    ul {
      li {
        list-style: circle;
      }
    }
  }
}
