@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.main--content {
  padding: 0 !important;
  .staff-list-area {
    margin: 0;
    // background: linear-gradient(45deg, #f2ced8, #f2acc6);
    background: #fff !important;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;

    .trainer {
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 !important;

      table {
        width: 100%;
        border-collapse: collapse;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        border-radius: 15px;
      }

      thead th {
        background-color: #333333 !important;
        position: sticky;
        top: 0;
        color: #fff !important;
        text-align: center;
        font-size: 14px;
      }

      th,
      td {
        padding: 15px;
        background-color: rgba(255, 255, 255, 0.2);
        color: #333 !important;
      }

      tbody {
        overflow: auto;
        height: 100px;
        text-align: center;
      }

      // tbody tr:hover {
      //   background-color: #ffe4e7;
      // }

      // tbody td {
      //   position: relative;
      // }

      // tbody td:hover:before {
      //   content: "";
      //   position: absolute !important;
      //   left: 0;
      //   right: 0;
      //   top: -9999px;
      //   bottom: -9999px;
      //   // background-color: rgba(255, 255, 255, 0.1);
      //   z-index: -1;
      //   // opacity: 1;
      // }
      // thead tr th:hover:before {
      //   z-index: -1;
      // }
    }

    .setting {
      font-size: 18px;
      // z-index: 1000 !important;

      .ri-delete-bin-line {
        position: absolute;
        display: flex;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        justify-content: center;
        align-items: center;
        color: red;
        // z-index: 5000 !important;
      }
    }
  }
}
// .staff-template-scss .main--content {
//   overflow-y: scroll !important;
// }
// .staff-template-scss table {
//   overflow-y: scroll !important;
// }
// .staff-template-scss table {
//   position: static !important;
// }
.staff-template-scss table tr {
  z-index: 0 !important;
}
.staff-template-scss table thead tr th,
.staff-template-scss table thead tr th button {
  position: sticky !important;
  z-index: 1 !important;
}
.staff-template-scss table th:first-child {
  border-top-left-radius: 10px;
}
.staff-template-scss table th:last-child {
  border-top-right-radius: 10px;
}

.staff-template-none-scss table {
  overflow-y: hidden !important;
}
.staff-template-none-scss th,
.staff-template-none-scss th button {
  position: static !important;
}
.staff-list-area {
  min-height: calc(100vh - 50px) !important;
  height: auto !important;

  @media screen and (max-width: 1050px) {
    overflow-x: scroll !important;
  }
}
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: rgb(197, 196, 196);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: #3f3f3f;
  border-radius: 8px;
}

.table-none-border-radius-head {
  thead tr th {
    border-radius: 0px !important;
  }
  ::-webkit-scrollbar-track {
    border-radius: 0px !important;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 0px !important;
  }
}
.menu-scroll {
  @media screen and (max-height: 500px) {
    overflow-y: scroll !important;
  }
}
// @media screen and (max-height: 2000px) {
//   .main {
//     display: flex !important;
//     width: 100vw !important;
//   }
//   .main--content {
//     // overflow-x: scroll !important;
//     // overflow-y: scroll !important;
//     width: 85vw !important;
//   }
//   .staff-list-area {
//     overflow-x: scroll !important;
//     width: 100% !important;
//   }
// }
