.cards h1 {
  color: #333;
}

.card-1 .card--title {
  color: #ff9aa2;
  font-weight: bold;
}
.card-1 .card--icon--lg {
  color: #ff9aa2;
}

.card-2 .card--title {
  color: #faa46a;
  font-weight: bold;
}
.card-2 .card--icon--lg {
  color: #faa46a;
}

.card-3 .card--title {
  color: rgba(241, 210, 67, 1);
  font-weight: bold;
}
.card-3 .card--icon--lg {
  color: rgba(241, 210, 67, 0.7);
}

.card-4 .card--title {
  color: #a9c555;
  font-weight: bold;
}
.card-4 .card--icon--lg {
  color: #bad569;
}

.card-5 .card--title {
  color: #7acbb3;
  font-weight: bold;
}
.card-5 .card--icon--lg {
  color: #59bea0;
}

.card-6 .card--title {
  color: #97a7e4;
  font-weight: bold;
}
.card-6 .card--icon--lg {
  color: #97a7e4;
}

.card-7 .card--title {
  color: #ec88ad;
  font-weight: bold;
}
.card-7 .card--icon--lg {
  color: #ec88ad;
}
