.courlist-area {
  background-color: #f2ced8;
  .course-contaier {
    margin: 0 auto;
    width: 85%;
  }
}
.mobile-schedule-guest {
  @media screen and (min-width: 550px) {
    display: none !important;
  }
}
.mobile-schedule-guest-none {
  @media screen and (max-width: 550px) {
    display: none !important;
  }
}
