.courlist-area {
  background-color: #f2ced8;
  .course-contaier {
    margin: 0 auto;
    width: 85%;
  }
  .sort-course-guest {
    @media screen and (max-width: 1024px) {
      justify-content: end !important;
      width: 85%;
      margin-right: 16%;
    }
  }
}
.mobile-schedule-guest {
  @media screen and (min-width: 550px) {
    display: none !important;
  }
}
.mobile-schedule-guest-none {
  @media screen and (max-width: 550px) {
    display: none !important;
  }
}
